Brotli
certifi
charset-normalizer
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy
oauthlib
pandas
plotly
python-dateutil
pytz
requests
requests-oauthlib
retrying
six
tweepy
urllib3
Werkzeug
wget
